@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body bg-dark text-light;
  }
}

@layer utilities {
  .bg-gradient {
    background: get-color("dark-shade");
    background-color: #7f5a83;
    background-image: radial-gradient(
      circle,
      rgba(10, 22, 21, 1) 0%,
      rgba(41, 4, 0, 1) 18%,
      rgba(36, 0, 50, 1) 35%,
      rgba(10, 22, 21, 1) 100%
    );
    background-position: bottom right;
    background-size: 200vw 200vh;
    background-attachment: fixed;
  }
  .blurc {
    background: rgba(30, 4, 44, 0.5);
    backdrop-filter: blur(14px);
  }
}
