@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body bg-dark text-light text-xl;
  }
}

@layer utilities {
  .heading1 {
    @apply text-4xl md:text-5xl lg:text-6xl;
  }
  .heading2 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }
  .h1 strong {
    @apply font-black;
  }
  .bg-gradient {
    background: get-color("dark-shade");
    background-color: #7f5a83;
    background-image: radial-gradient(
      circle,
      rgba(10, 22, 21, 1) 0%,
      rgba(41, 4, 0, 1) 18%,
      rgba(36, 0, 50, 1) 35%,
      rgba(10, 22, 21, 1) 100%
    );
    background-position: bottom right;
    background-size: 200vw 200vh;
    background-attachment: fixed;
  }
  .blurc {
    background: rgba(30, 4, 44, 0.5);
    backdrop-filter: blur(14px);
  }
  .spotlight-gradient {
    position: absolute;
    left: -340px;
    top: -350px;
    right: auto;
    bottom: -110px;
    z-index: -1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 800px;
    height: 800px;
    background-image: radial-gradient(
        circle farthest-corner at 50% 50%,
        rgba(255, 59, 0, 0.13),
        rgba(255, 255, 255, 0) 48%
      ),
      radial-gradient(
        circle farthest-corner at 50% 50%,
        rgba(255, 196, 0, 0.17),
        rgba(50, 132, 112, 0.12) 35%,
        rgba(20, 20, 20, 0) 67%,
        rgba(20, 20, 20, 0) 69%
      );
    opacity: 0.7;
  }
}
